html,
body {
    height: 100%;
    overflow: hidden;
    background: #f2f2f2;
    margin: 0;
}

button {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    letter-spacing: 0.025em;
    background: #379aff;
    padding: 18px 0 11px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    min-width: 120px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button span {
    display: block;
    position: relative;
    z-index: 10;
}

button:after,
button:before {
    padding: 18px 0 11px;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-100% - 30px);
    height: calc(100% - 29px);
    width: calc(100% + 20px);
    color: #fff;
    border-radius: 2px;
    transform: skew(-25deg);
}

button:after {
    background: #fff;
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    z-index: 0;
    opacity: 0.8;
}

button:before {
    background: #13c276;
    z-index: 5;
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:after {
    left: calc(0% - 10px);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:before {
    left: calc(0% - 10px);
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

canvas {
    width: 420px;
    height: 420px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}